.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

// Enable vertical overflow for tooltips
.overflow-x-scroll {
  overflow-y: visible;
}

// Optimize animations
.group {
  transform: translateZ(0);
  backface-visibility: hidden;

  img {
    transform: translateZ(0);
  }
}
