<app-about-me/>
<div class="flex flex-wrap bg-white p-6 rounded-lg">
  @for (tag of TAGS; track tag.tag) {
    <div class="flex flex-col">
      <div [ngStyle]="{ 'background-color': tag.color }"
           class="font-bold text-gray-700 rounded-full flex mr-3 items-center justify-center font-mono w-full sm:w-1/2 md:w-1/3 lg:w-1/5 p-5 flex-col"
           style="height: auto; width: auto;">
        <img
          ngSrc="tags/{{ tag.icon }}"
          [alt]="tag.tag"
          class="w-14 h-14"
          width="500"
          height="500"
        />
      </div>
      <span class="mt-2 text-center">{{ tag.tag }}</span>
    </div>
  }
</div>


<div class="flex justify-center mt-5">
  <div class="w-full">
    <div class="grid">
      @for (post of posts$ | async; track post.id; let f = $first) {
        <app-post-card [post]="post"></app-post-card>
      }
    </div>
  </div>
</div>
