<nav
  id="navbar"
  class="navbar bg-white shadow-md fixed top-0 left-0 right-0 z-10 flex items-center justify-between px-4 py-2
   w-[68%]"
  [class.scrolled]="isScrolled"
>
  <div class="flex-auto flex items-center justify-between ">
    <div class="flex-none">
      <input type="text" placeholder="Type here" class="input w-full max-w-xs border-0 input-success"/>
    </div>

    <div class="flex items-center -ml-20" [routerLink]="['/']">
      <img src="logo.png" alt="Logo" class="h-16"/>
      <span>
        <h1 class="text-lg font-bold mb-0 pb-0">Angular.fun</h1>
        <h2 class="text-sm mt-0 pt-0">Bring the fun back to coding</h2>
      </span>
    </div>

    <div class="flex-none">
      <button class="btn btn--secondary border-0">Login</button>
    </div>
  </div>
</nav>
