@use 'tailwindcss/utilities';

@import '../../shared/src/styles.scss';
@import 'highlight.js/styles/github-dark.css';





body {
  position: relative;
  background: linear-gradient(135deg, #FBFADA66 0%, #7A9E7E80 50%, #12372A 100%);
  min-height: 100vh;
}

.bg-stars {
  z-index: 1;
  background: radial-gradient(circle, rgba(255, 255, 255, 1) 0.7px, rgba(255, 255, 255, 0.6) 0.1px, rgba(255, 255, 255, 0.2) 0.2px, transparent 0.3px);
  background-size: 25px 25px;
  filter: blur(0.1px) drop-shadow(0 0 0.5px rgba(255, 255, 255, 0.8));
}

