<article
  class="bg-surface-1 shadow-md w-full rounded-lg overflow-hidden mb-6 hover-lift-subtle antialiased will-change-transform"
>
  <a
    [routerLink]="['/post', post().id]"
    [attr.aria-label]="post().title"
    class="block py-4 md:py-8 focus-ring"
  >
    <div class="bg-surface-1 w-full flex flex-col md:flex-row md:pr-4">
      <div class="flex flex-wrap md:flex-col items-start md:basis-2/12 gap-2 px-4 md:px-0">
        @for (tag of post().post_tags; track tag.tags.id; let i = $index) {
          <!--          TODO: REFACTOR WHEN Adjustin mobile page-->
          <div class="md:hidden">
            <shared-chip [text]="tag.tags.name" [color]="tag.tags.color" variant="outline" />
          </div>
          @if (i < 4) {
            <div class="hidden md:block">
              <web-label [text]="tag.tags.name" [color]="tag.tags.color" />
            </div>
          }
        }
      </div>

      <div class="flex flex-col md:basis-10/12 px-6 md:px-0">
        <h2 class="font-bold line-clamp-3 text-xl mt-0 text-center leading-relaxed">
          {{ post().title }}
        </h2>
        <div class="line-clamp-3 xl:line-clamp-4 2xl:line-clamp-5 pt-3 leading-loose">
          {{ post().description }}
        </div>
      </div>
    </div>
  </a>
</article>
